.footer__container--links {
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
justify-items: center;
margin-left: 19px;
}

.nav-link {
    color: var(--secondary-color);
    font-size: 15px;
}

.questions__container {
   margin: 0 0 20px 19px; 
}
.questions__text {
    margin-bottom: 0%;
}
.questions__phone{
    color: var(--details-color)
}

.contact__btn {
    margin-left: 20px;
    margin-bottom: 51px; 
    &:hover {
        transition: transform ease 30s, background-color ease 1s;
        background-color: var(--interactions);
        color: var(--details-color);
      }
}

.payment__methods {
    display: block;
    margin: auto;
}

.footer__daitool--container , .footer__madeby--container { 
    text-align: center;
}

.heart {
    color: var(--interactions);
}

.github__icon {
    color: var(--secondary-color);
}