<footer class="footer-section">
    <div class="footer__container--links">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">Quick links</li>
            <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Brands</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Wholesale</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">Customer area</li>
            <li class="nav-item">
                <a class="nav-link" href="#">My account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Deliveries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help center (FAQs)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Terms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Privacy Policy</a>
            </li>
        </ul>
    </div>
        <div class="questions__container">
            <p class="questions__text">Have any questions?</p>
            <a class="questions__phone" href="#">+123456789</a>
        </div>
        <button type="button" class="contact__btn btn btn-outline-info">Contact
        </button>
        <img src="../../../assets/images/paymentsupport.png" alt="payment methods" class="payment__methods">
   


    <!-- daitool rights -->
    <hr>
    <div class="footer__daitool--container">
        <small>
            <span class="footer-love">
                <span class="we">Daitool - </span>
                <span class="footer-copyright"> &copy; 2021 </span>
                <span class="footer__span--rights"> All rights reserved</span>

            </span>
        </small>
        <a href="https://github.com/AlejandraSC" target="_blanc"><i class="pi pi-github"
                style="color: var(--primary-color)"></i></a>
    </div>
    
    <!-- made by -->
    <div class="footer__madeby--container">
        <small>
            <span class="footer-love">
                <span>Made with </span>
                <span>&#10084;</span>
                <span> by Alejandra S.C.</span>
                <span> &copy; 2021 </span>
            </span>
        </small>
        <div class="github__container">
        <a href="https://github.com/AlejandraSC" target="_blanc">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="github__icon bi bi-github"
                viewBox="0 0 16 16">
                <path
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
            </svg>
        </a>
    </div>
    </div>
</footer>