:root{
//fonts
--font__general: "Mullish";
/* --header-font: "Caveat"; */
/* --title-font: "RobotoSlab", */
/* sans-serif; */
/* --text-font: "Roboto", */
/* sans-serif; */

//colors
--primary-color: #ffffff;
--secondary-color: #000000;
--details-color: #FF723D;
--details-color__secondary: #92D2D9;
--text-color__dark: #5C5C5C;
--text-color__meidum: #8D8D8D;
--text-color__light: #C4C4C4;
}