:root{
//fonts
--header-font: "Caveat";
--title-font: "RobotoSlab",
sans-serif;
--text-font: "Roboto",
sans-serif;

//colors
--primary-color: #ffffff;
--secondary-color: #000000;
--details-color: #FF723D;

--footer__background--color: #c1c7d1;
--interactions: #FADBD8;
}