<header class="header-section">
    <!--HamburguerMenu-->
    <nav class="navbar">
         <!--Button, logo, profile, chart, inputText-->
        <button class="hamburguer__button--container navbar-toggler toggler-example" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1"
            aria-expanded="false" aria-label="Toggle navigation" onclick="openMenu()"><span class="hamburguer-icon"><i
                    class="hamburguer__icon fas fa-bars fa-1x icons-color"></i></span></button>
        <img alt="Brand Icon" src="../../../assets/images/DAITOOL_LOGO-white.png" class="header__logo">
        <div>
            <a class="icons-color" href="#"><i class="far fa-user"></i></a>
            <a class="icons-color" href="#"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="search__container"><i class="fas fa-search search-icon"></i><input type="text"
                class="form-control search-input" />
        </div>

        <!--HamburguerMenu Interior-->
        <section class="collapse navbar-collapse hamburguer--menu__Interior" id="navbarSupportedContent1">
            <div class="btn-group dropup">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">Products</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Safety</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Janitorial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Woodworking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gardening</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Office supplies</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">About us</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Brands</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown-divider"></div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">Need help?</li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+123456789</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">info@daitool.com</a>
                </li>
            </ul>
            <div>
            </div>
        </section>
    </nav>

</header>