.categories__section {
  margin-top: 152px;
  @media all and (min-width: 1280px) {
    margin-top: 90px;
  }
}
.card__new--title,
.card__new--text {
  text-align: center;
  font-size: 68px;
}

.news__container {
  @media all and (min-width: 1280px) {
    height: 576.33px;
  }
}

.card__viewed--subtitle,
.card__new--nav {
  text-transform: capitalize;
}

.card__new--nav {
  color: var(--details-color);
  cursor: pointer;
  text-align: center;
}

.card__viewed--container {
  margin: 24px 20px 8px 20px;

  .card__viewed--title {
    text-transform: uppercase;
    color: var(--details-color);
    font-size: 16px;
    line-height: 20px;

    .card__viewed--subtitle {
      font-size: 24px;
      line-height: 32px;
      color: var(--secondary-color);
    }
  }
}

.card__img--news {
  filter: blur(2px);
}

.highlighted__container {
  margin: 16px 20px 16px 20px;
  border-radius: 10px;
  @media all and (min-width: 1280px) {
    margin-top: 0px;
  }
}

//categories
.card__categorie--container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 335px;
  height: 120px;
  margin: 16px 20px 16px 20px;
  border-radius: 10px;
  @media all and (min-width: 1280px) {
    display: grid;
    grid-template-columns:1fr 1fr; 
    grid-template-rows:  repeat(3, 1fr);
  }
}

.card__categorie--img {
  width: 335px;
  height: 120px;
  border-radius: 10px;
  mix-blend-mode: multiply;
}

.card__categorie--text {
  text-align: center;
}

.categorie__text--title {
  font-weight: bold;
  font-size: 22px;
}
