.brands__container--images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
}

.brands__title {
  font-size: 18px;
  font-weight: bold;
  margin: 26px 0 0 19px;
  color: var(--text-color__light);
}
