<section class="subscribe__section">
    <img class="subscribe_img" src="../../../assets/images/subscribe.png" alt="subscribe">
    <form action="#" method="post" accept-charset="utf-8" id="subscribe-blog">
        <p class="subscribe_title">Sign up for newsletter</p>
        <p class="subscribe_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab dignissimos molestiae
            fugit magni numquam
            mollitia.</p>
            <label for="email"></label>
            <input class="input__text--email" type="text" name="email" style="width: 95%; padding: 1px 2px"
                placeholder="Enter your email address" value="" id="subscribe-field">
        <label for="subscribe"></label>
        <input class="subscribe__btn" type="submit" value="Subscribe">
    </form>
</section>