.subscribe__section {
  background-color: var(--details-color);
}

.subscribe_img {
  margin-top: 25px;
  margin-left: 19px;
}

.subscribe_title , .subscribe_text {
    color: var(--primary-color);
    margin-left: 19px;
}
.subscribe__btn {
  width: 132px;
  height: 40px;
  text-transform: uppercase;
  margin-right: 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 8px;
  margin: 16px 20px 23px 223px;
}

.input__text--email {
width: 334px;
height: 56px;
border: none;
border-radius: 10px;
display: flex;
justify-content: center;
margin: 0 20px 0 20px;
}