.subscribe__section {
  width: 100%;
  background-color: var(--details-color);
}

.subscribe_img {
  margin-top: 25px;
  margin-left: 19px;
}

.subscribe_title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  margin-top: 18.69px;
}

.subscribe_title,
.subscribe_text {
  color: var(--primary-color);
  margin-left: 19px;
}

.input__text--email {
  border: none;
  width: 334px;
  height: 56px;
  margin: 20px 0 20px 20px ;
  border-radius: 10px;
}

.subscribe__btn {
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  width: 132px;
  height: 40px;
  font-size: 15px;
  line-height: 24px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 8px;
  margin: 16px 20px 23px 223px;
}







