<p class="promises__title">Daitool promise</p>
<div class="promises__container--images">
    <img src="../../../assets/images/Group 41.png" alt="promises" class="promises__container--image">
    <img src="../../../assets/images/Group 42.png" alt="promises" class="promises__container--image">
    <img src="../../../assets/images/Group 43.png" alt="promises" class="promises__container--image">
    <img src="../../../assets/images/Group 44.png" alt="promises" class="promises__container--image">
</div>
<img src="../../../assets/images/Group 45.png" alt="promises" class=" promises__container--alone">